* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #002333;
    color: #DEEFE7;
}

.titulo-destaque {
    color: #159A9C;
}

.apresentacao {
    display: flex;
    align-items: center;
}